.companion-card, .buy-card {
	background: #fff6c8;
	margin: 5px 0;
	border-radius: 20px;
	border: #443025 solid 2px;
	min-height: 80px;
	max-height: 100px;
}

.buy-card {
	line-height: 37px;
}

.companion-card {
	display: flex;
}

.companion-grid {
	flex: 2 1 auto;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-auto-rows: minmax(min-content, max-content);
	align-items: center;
	max-width: 75%;
}

.buy-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(min-content, max-content);
	width: 75%;
	align-content: space-evenly;
    justify-content: space-evenly;
}

.companion-name {
	padding: 10px 0 10px 10px;
	margin: 0px 4px;
	font-size: 6vw;
	grid-column: 1/span2;
	grid-row: 1;
	font-weight: bold;
	text-align: left;
}

.companion-damage {
	margin-left: 14px;
	margin-bottom: 5px;
	font-size: 6vw;
	grid-column: 1;
	grid-row: 2;
	text-align: left;
}

.companion-quantity {
	margin-bottom: 5px;
	font-size: 6vw;
	grid-column: 2;
	grid-row: 2;
}

.companion-img {
	height: 100%;
	width: 25%;
	transform: scaleX(-1);
}

.buy-name {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}

.buy-cost {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}

.buy1 {
	grid-row: 1;
	grid-column: 1;
}

.buy10 {
	grid-row: 1;
	grid-column: 2;
}

.buy100 {
	grid-row: 2;
	grid-column: 1;
}

.buy-max {
	grid-row: 2;
	grid-column: 2;
}

.b-btn {
	margin: 0 3px;
	font-size: 5vw;
    border: #b07030 solid 2px;
	background: #c98139;
	border-radius: 20px;
	padding: 2px 4px;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.b-btn {
		font-size: 2.75vw;
	}

	.companion-name {
		font-size: 4vw;
	}

	.companion-damage {
		font-size: 4vw;
	}

	.companion-quantity {
		font-size: 4vw;
	}
}

@media only screen and (min-width: 1024px) {
	.companion-card, .buy-card {
		max-height: 125px;
	}

	.companion-img {
		height: 100%;
		width: 25%;
		transform: scaleX(-1) translateY(-15px);
	}

	.b-btn {
		font-size: 1.75vw;
	}

	.companion-name {
		font-size: 2vw;
	}

	.companion-damage {
		font-size: 1.75vw;
	}

	.companion-quantity {
		font-size: 2vw;
	}

	.buy-name {
		font-size: 36px;
	}

	.buy-cost {
		font-size: 32px;
	}
}