.fight {
	height: 150px; /*275 max*/
	background-image: url(https://img.itch.zone/aW1hZ2UvMTMzODM2LzYxMzkwOS5wbmc=/347x500/To5NoT.png);
	background-position: bottom center;
	background-size: height;
}

.heading {
	display: inline-block;
	background: #fff6c8;
	font-weight: bold;
	font-size: 34px;
	width: 100%;
}

.title {
	text-align: left;
	margin: 5px 0 0 5px;
	width: 50%;
	float: left;
}

.money-hand {
	margin: 5px 5px 0 0;
	float: right;
	text-align: right;
}

.arena {
	max-height:150px;
	height: 100%;
	width: 100%;
	position: absolute;
}

.enemy-pos {
	transform: scale(2.5, 2.5) translate(28px, 28px);
}

.hero-pos {
	transform: scale(2.25, 2.25) translate(-20px, 32px);
}

.companion-pos {
	transform: scale(2.25, 2.25) translate(10px, 40px);
}

.health-bar {
	background: #479a6d;
	height: 25px;
	width: 100%;
	position: relative;
	text-align: center;
}

.health-bar:before {
	position: absolute;
	content: attr(data-label);
	font-size: 18px;
	color: white;
	letter-spacing: 5px;
	top: 5px;
	left: 0;
	right: 0;
}

.dmg-box {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	position: absolute;
}

.hero {
	color: red;
}

.companion {
	color: blue;
}

.clicker {
	color: pink;
}

.animated {
	-webkit-animation-duration: 1s;animation-duration: 1s;
	-webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
		top: 0;
	}
	100% {
		opacity: 0;
		top: 50px;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		top: 0;
	}
	100% {
		opacity: 0;
		top: 50px;
	}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@media only screen and (min-width: 768px) {
	.health-bar {
		margin: 0;
		height: 30px;
	}

	.health-bar:before {
		font-size: 22px;
	}

	.fight {
		height: 275px;
	}

	.arena {
		max-height: 275px;
	}

	.hero-pos {
		transform: scale(4, 4) translate(-25px, 42px);
	}

	.enemy-pos {
		transform: scale(4, 4) translate(28px, 40px);
	}

	.companion-pos {
		transform: scale(4, 4) translate(-65px, 50px);
	}

	.dmg-box {
		font-size: 50px;
	}
}

@media only screen and (min-width: 1024px) {
	.health-bar {
		margin: 0;
		height: 35px;
	}

	.health-bar:before {
		font-size: 24px;
	}

	.fight {
		height: 275px;
	}

	.arena {
		max-height: 275px;
	}

	.enemy-pos {
		transform: scale(4, 4) translate(28px, 40px);
	}

	.companion-pos {
		transform: scale(4, 4) translate(-70px, 50px);
	}

	.dmg-box {
		font-size: 52px;
	}
}