.fight {
	height: 30%;
	background-image: url(https://img.itch.zone/aW1hZ2UvMTMzODM2LzYxMzkwOS5wbmc=/347x500/To5NoT.png);
	background-position: bottom center;
	background-size: height;
}

.heading {
	display: inline-block;
	background: #fff6c8;
	font-weight: bold;
	font-size: 34px;
	width: 100%;
}

.title {
	margin: 3px 0 0 3px;
	width: 74%;
	float: left;
}

.money-hand {
	margin: 3px 3px 0 0;
	width: 24%;
	float: right;
	text-align: right;
}

.arena {
	max-height:150px;
	height: 80%;
	width: 100%;
	position: relative;
}

.enemy-pos {
	transform: scale(2.5, 2.5) translateY(5px);
	float: right;
	margin: 12% 20% 0 0;
}

.hero-pos {
	transform: scale(2.25, 2.25) translate(40px, 30px);
}

.companion-pos {
	transform: scale(2.25, 2.25) translate(30px, 40px);
}

.health-bar {
	background: #479a6d;
	height: 20px;
	width: 100%;
}