.fight {
	height: 25%;
	background-image: url(https://img.itch.zone/aW1hZ2UvMTMzODM2LzYxMzkwOS5wbmc=/347x500/To5NoT.png);
	background-position: bottom center;
	background-size: height;
}

.heading {
	display: inline-block;
	color: #479a6d;
	background: #fff6c8;
	font-weight: bold;
	font-size: 34px;
	width: 100%;
}

.title {
	width: 75%;
	float: left;
}

.money-hand {
	width: 25%;
	float: right;
	text-align: right;
}

.arena {
	height: 80%;
	width: 100%;
}

.enemy-pos {
	transform: scale(3, 3);
	float: right;
	margin: 12% 20% 0 0;
}