.upgrade-card {
	background: #fff6c8;
	margin: 5px 0;
	border-radius: 20px;
	border: #443025 solid 2px;
	min-height: 80px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-auto-rows: minmax(min-content, max-content);
	align-items: center;
	justify-items: center;
}

.upgrade-name {
	padding: 10px 0 10px 10px;
	margin: 0px 4px;
	font-size: 6vw;
	grid-column: 1/2;
	grid-row: 1;
	font-weight: bold;
}

.upgrade-description {
	margin: auto 15px 10px;
	font-size: 6vw;
	grid-column: 1;
	grid-row: 2;
}

.upgrade-cost {
	margin: 10px 0 0;
	font-size: 5.5vw;
	font-weight: bold;
	grid-column: 2;
	grid-row: 1;
	text-align: center;
}

.buy-upgrade {
	margin: 0 10px;
	font-size: 6vw;
	grid-column: 2;
	grid-row: 2;
	background: #479a6d;
	text-align: center;
	vertical-align: middle;
	line-height: 1.75em;
	height: 1.75em;
	min-width: 100px;
	border-radius: 25px;
}

@media only screen and (min-width: 768px) {
	.buy-upgrade {
		font-size: 4vw;
	}

	.upgrade-name {
		font-size: 4vw;
	}

	.upgrade-cost {
		font-size: 4vw;
	}

	.upgrade-description {
		font-size: 4vw;
	}
}

@media only screen and (min-width: 1024px) {
	.buy-upgrade {
		font-size: 2vw;
	}

	.upgrade-name {
		font-size: 2vw;
	}

	.upgrade-cost {
		font-size: 2vw;
	}

	.upgrade-description {
		font-size: 2vw;
	}

}